/* 
CORES
#d92804 
#45858c
#a0d9d9
#d9c589
#bf9765

#8c1c3a
#bf244e
#f2a88d
#d9765f
#bf8821

font-fanmily: 'Caveat', cursive;
font-fanmily: 'EB Garamond', serif;
font-fanmily: 'Marhey', cursive;
font-fanmily: 'Mynerve', cursive;
font-fanmily: 'Roboto', sans-serif;
 */